.send-item {
  width: 100%;
}

.show-item {
  list-style: none;
  width: 100%;
  padding: 20px;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
}

.img {
  width: 10%;
  border-radius: 50%;
  margin-right: 20px;
}


.content-right {
  width: 90%;
}

.content-right h3 {
  font-size: 16px;
}

.content-right span {
  font-size: 14px;
  color: #aaa;
}

.content-right div {
  font-size: 14px;
  font-weight: 600;
}
